@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-bg: #ffffff;           /* White background */
    --accent-yellow: #FFD700;        /* Gold-yellow for buttons, highlights */
    --text-main: #333;              /* Deep gray/black for main text */
    --text-color-button: #FFD700;    /* Light gray for subtitles */
}


* {
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-main);
}

button {
    background-color: var(--primary-bg);
    color: var(--text-color-button);
}

ul {
    list-style: none;
}
.pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pg h1{
    font-size: 2.5rem;
    color: var(--accent-yellow);
    text-align: center;
    margin-bottom: 10px;
}
.pg p{
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 15px;
}